$font-size: 10px;

$font-family: 'Open Sans', sans-serif;
$font-family-title: 'Signika', sans-serif;
$font-family-table: 'Philosopher', sans-serif;
$font-family-form: 'Montserrat', sans-serif;

$color-primary: #868b8e;
$color-secondary: #eeede7;
$color-tertiary: #b9b7bd;
$color-quaternary: #e7d2cc;

$color-menu-bg: rgba(0, 0, 0, 0.7);
$color-section-title: #fff;
$color-primary-form: #b3aca7;
$color-secondary-form: #e2dedb;
$color-font-form: #726659;

$breakpoints: (
  'phone': 360px,
  'tablet': 768px,
  'desktop': 1280px,
);
